$bg-color:#ececec;
$button-bg:#fff;
$hover-button-bg:yellow;
.App {
    padding: 20px;
    max-width: 600px;
    text-align: center;
    margin: auto;

    >section {
        background-color:$bg-color;
        border: 1px solid $bg-color;
        padding: 20px;

        &:first-of-type {
            margin-bottom: 20px;
        }
        button {
            padding: 10px 15px;
            margin: 0 2px;
            border: none;
            font-size: 1.2rem;
            border-radius: 5px;
            background-color: $button-bg;
            cursor: pointer;
            &:hover {
                background-color: $hover-button-bg;
            }
        }
    }
}